.flag{
width: 13px;
}
.flagpara{
   padding-top: 50rem;
   padding-left: 10rem;
   font-size: 13px;
   color: rgb(61, 61, 61);
}
.hr{
   color: black;
    width: 70rem;
}
.lineimg {
  display: flex;
  margin-left: 100px;
}
.lineimg  li{
   list-style: none;
}

