.shopping{
    color: #165DBA;
}
.shopping-cart{
    font-size: 23px;
    font-weight: 500;
}
.div{
    margin-top: -8px;
    margin-left: 72px;
    display: flex;
}
.summary{
   background: rgb(238, 235, 235);
    width: 100%;
    margin-left: 81px;
}
.cart-grid{
    background: white;
    display: flex;
}
.first-div{
    display: flex;
}
.R-img{
    margin-top: 20px;
    width: 8rem;
}
.R-hrcart{
    margin-right: 30px;
    width: 45rem;
}
.R-name1{
    font-size: 20px;
    font-weight: 500;
    color: rgb(85, 83, 83);
}
.R-name2{
    font-size: 12px;
}
.R-name3{
    font-size: 14px;
    font-weight: 500;
    color: #165DBA;
}
.cart-info{
    margin-left: 20px;
}
.cart-price{
    margin-left: 150px;
}
.total{
    background: rgb(238, 235, 235);
    width: 50%;
    height: 20rem;
    padding-top: -100px;
}
.second-total{
    background: white;
    width: 90%;
}
.price-p1{
    margin-left: 20px;
}
.p-span1{
    margin-left: 120px;
}
.p-span2{
    margin-left: 120px;
}
.p-span3{
    margin-left: 120px;
}
.total-price{
    height: 40px;
    background: black;
    justify-content: center;
}
.price-T{
  padding-top: 10px;
    color: white;
}
